<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Chat El Clarín</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item >
      <ion-label class="message-body">Hola como Estas</ion-label>
    </ion-item>
    <ion-item >
      <ion-label class="message-body2">Comentanos algunas de tus dudas o quejas para popder resolverlas en el menor tiempo posible</ion-label>
    </ion-item>
  </ion-list>

  <ion-footer class="foot">
    <ion-toolbar >
      <ion-input  placeholder="Escribe un mensaje..."></ion-input>
      <ion-buttons slot="end">
        <ion-button >Enviar</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
  

<ion-button color="danger" shape="outline" routerLink="/home">Volver</ion-button>

</ion-content>

